* {
  padding: 5px;
  margin: 5px;
}

/* .contenedor {
  display: flex;
  flex-direction: row;
}

.div {
  margin: 5px;
  height: 100px;
  width: 100px;
  border: black 1px solid;
  background: plum;
} */